<section id="bugs">
  <h2>Recent Bugs</h2>
  <hr>

  <div class="row">

    {% for bug in data.bugs %}
    <div class="col-xl-3 col-md-6">
        {% if bug.flag_id.flag == 1 %}
        <div class="card bg-primary text-white mb-4" style="height: 100%;">
        {% elif bug.flag_id.flag == 2 %}
        <div class="card bg-warning text-white mb-4" style="height: 100%;">
        {% elif bug.flag_id.flag == 3 %}
        <div class="card bg-danger text-white mb-4" style="height: 100%;">
        {% else %}
        <div class="card bg-success text-white mb-4" style="height: 100%;">
        {% endif %}
            <div class="card-body">{{bug.report_id.tite}} - {{ bug.project_id.name }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    {% endfor %}

  </div>

</section>

<style>
  #bugs {
    margin-bottom: 20px;
  }
</style>
