<section>
  <h2>Projects</h2>
  <hr>
  <div class="row">

    {% for project in data.projects %}
      <div class="col-xl-3 col-md-6">
          <div class="card text-black mb-4">
              <div class="card-body">{{ project.name }}</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-black stretched-link" href="{{ project.id }}">View Project</a>
                  <div class="small text-black"><i class="fas fa-angle-right"></i></div>
              </div>
          </div>
      </div>
    {% endfor %}

  </div>
</section>
